@font-face {
    font-family: proximabold;
    src: url(../public/assets/proximabold.otf);
}

@font-face {
    font-family: proxima;
    src: url(../public/assets/proxima.otf);
}

@font-face {
    font-family: proximathin;
    src: url(../public/assets/proximathin.otf);
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: proxima, sans-serif;
    height: 100%;
    /* background: black; */
    color: white;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    display: none;
}

h2 {
    color: white;
    letter-spacing: 2.83px;
    font-family: proximabold;
    font-size: 64px;
    display: flex;
    margin-bottom: 0;
    text-transform: uppercase;
}

.heroImgSpan {
    margin: 0 10px;
}

li {
    list-style-type: none;
    text-transform: uppercase;
    letter-spacing: 2.83px;
}

.heroText {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

h3 {
    font-size: 45px;
    color: white;
    width: 40vw;
    max-width: 600px;
    min-width: 500px;
    text-align: center;
    font-family: proxima;
    margin-top: 0;
}

* {
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;
    max-width: 1600px;
    padding: 0px 40px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    justify-content: space-between;
    margin: 0 auto;
}

.navbar__title {
    cursor: pointer;
    width: 45%;
    /* margin-right: auto; */
    /* font-size: 150%; */
    /* padding: 12px 16px; */
}

.navbar__item {
    padding: 16px 16px;
    cursor: pointer;
    vertical-align: middle;
    font-size: 19px;
    color: white;
}

html {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: black; */
}

html,
body {
    margin: 0;
}

body {
    background-color: black;
    width: 100%;
}

.full-screen-video-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.full-screen-video-container video {
    z-index: -1;
    position: absolute;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.talent-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 18vh;
}

.talent-container-single {
    margin-top: 18vh;
}

.talent-container-single h2 {
    font-family: "Righteous", cursive;
    border-bottom: 1px solid white;
    padding-left: 5vw;
}

.talent-item {
    width: 40%;
    text-align: center;
    margin-bottom: 50px;
    position: relative;
}

.talent-item-text {
    font-size: 35px;
    text-transform: uppercase;
    max-width: 336px;
    z-index: 2;
    color: white;
    top: 33%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.talent-item-text span {
    display: block;
    font-family: proximathin;
}

.work-with-us {
    color: white;
    text-align: center;
}

.work-with-us div {
    font-size: 30px;
    font-family: proximathin;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    border: 2px solid white;
    border-radius: 50%;
    width: 188px;
    height: 188px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    cursor: pointer;
}

h4 {
    font-size: 45px;
    font-family: "Righteous", cursive;
    text-transform: uppercase;
}

.talent {
    padding-bottom: 5vh;
}

.socials p {
    font-size: 27px;
    font-family: Righteous, "cursive";
}

.social svg {
    color: black;
    border: 10px solid white;
    border-radius: 50%;
    background: white;
    height: 40px;
    width: 40px;
    margin-right: 17px;
}

.socials {
    padding-left: 5vw;
    margin-top: 40px;
    display: flex;
    margin-bottom: 40px;
}

.socials a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.socials-spacing {
    padding-right: 70px;
}

.bio {
    font-size: 27px;
    padding-left: 5vw;
    width: 43vw;
    line-height: 1.33;
}

.flex-container {
    position: relative;
}

.talent-container-single img {
    position: absolute;
    top: 16vh;
    right: 0;
    z-index: 2;
}

.talent-container-single .overlay {
    right: 1.5vw;
    top: 18vh;
    z-index: 0;
}

.talent-container-single {
    padding-bottom: 10vh;
    border-bottom: 1px solid white;
}

.talent-bar {
    padding: 0 5vw;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding-bottom: 100px;
}

.talent-bar span {
    cursor: pointer;
    border: 2px solid white !important;
    border-radius: 50% !important;
    width: 90px;
    height: 79px;
}

.talent-circle {
    text-align: center;
    position: relative;
}

.talent-circle p {
    font-size: 18px;
    width: 100%;
    text-transform: uppercase;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
}

.talent-circle:hover p {
    opacity: 1;
}

.talent-bar span {
    transition: all 0.3s ease-in-out;
}

.talent-bar span:hover {
    transform: scale(1.2);
}

.about-hero {
    font-size: 170px;
    width: 66%;
    margin-right: 5vw;
}

.about-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    text-align: right;
}

.about-banner h2 {
    font-family: "Righteous", cursive;
    line-height: 1;
    margin-top: 18vh;
}

.about-banner img {
    margin-top: 30vh;
    width: 20%;
}

.metrics {
    background: white;
    color: black;
    font-family: "Righteous", cursive;
    font-size: 35px;
    display: flex;
    justify-content: space-between;
    padding: 80px 40px 160px 40px;
}

.metric span {
    font-size: 95px;
}

.scroll {
    position: relative;
    width: 100vw;
    padding: 80px 0;
    /* height: 15%; */
    /* min-height: 150px; */
    background-color: white;
    color: black;
    overflow: hidden;
    z-index: 1;
    /* margin: 0;
    padding: 0; */
}

.m-scroll {
    overflow: hidden;
    height: 100%;
    white-space: nowrap;
    animation: scrollText 30s infinite linear;
    margin: 0;
    font-size: 0;
    display: inline-block;
}

.m-scroll span {
    font-size: 65px;
    font-family: "Righteous", cursive;
    display: inline-block;
    min-width: 100vw;
    margin: 0;
    padding: 0;
    color: black;
}

@keyframes scrollText {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}

.members {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin: 10vh 0;
    font-family: "Righteous", cursive;
}

.member {
    width: 33%;
    text-align: center;
    font-size: 35px;
}

.member p {
    padding: 0 60px;
}

.member-bio {
    font-size: 18px;
    font-family: "proxima", cursive;
}

.contact {
    margin-top: 33vh;
}

.brands {
    margin-top: 22vh;
    max-width: 1600px;
    padding: 0px 40px;
}

.brands h3 {
    width: 70vw;
    max-width: 800px;
    font-size: 40px;
    padding-left: 100px;
    text-align: left;
    margin-bottom: 100px;
}

.brands-info {
    /* width: 80vw;
    max-width: 800px; */
    width: 80%;
    padding-left: 100px;
    font-family: "Righteous", cursive;
    font-size: 30px;
    display: flex;
    justify-content: flex-start;
}

.circle {
    width: 20px;
    height: 20px;
    margin-bottom: 50px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid #000;
    box-shadow: 0 0 0 4px black, 0 0 0 5px white, 0 0 0 9px black, 0 0 0 10px white, 0 0 0 14px black, 0 0 0 15px white;
}

.decorative {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    align-items: center;
}

.decorative img {
    margin: 10px 0;
}

.brands-list p {
    max-width: 500px;
    margin-bottom: 100px;
}

.fadeIn {
    animation: fadein 3.3s;
    -moz-animation: fadein 3.3s;
    /* Firefox */
    -webkit-animation: fadein 3.3s;
    /* Safari and Chrome */
    -o-animation: fadein 3.3s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.mobile-nav {
    display: none;
}

.fourofour {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    #wrap {
        display: none;
    }
    .hero {
        margin-left: -15px;
    }
}

@media only screen and (max-width: 1200px) {
    .navbar__title {
        width: 33%;
    }
}

@media only screen and (max-width: 1000px) {
    .navbar {
        display: none;
    }
    .mobile-nav {
        display: block;
    }
}

@media only screen and (max-width: 768px) {
    h2 {
        font-size: 30px;
        align-items: center;
    }
    h3 {
        min-width: inherit;
        font-size: 26px;
        width: 80%;
        line-height: 1.1;
    }
}


/* .wrapper-marquee {
    max-width: 100%;
    overflow: hidden;
    background: white;
    color: black;
}

.marquee {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: marquee 30s linear infinite;
}

.marquee p {
    display: inline-block;
} */


/* @keyframes marquee {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-50%, 0, 0);
    }
} */


/* asdasdsadasdakjhdashkj dsahj kdsahjk dsah jkdsahkj sdajkh dsajhk dsajkh dsajkh dsahjk dasjkh dsakjh dsajkh dsak hjdsakhj sadkjh sdakjh sdahjk sadkjh dsajhk dsakhj dsak jhadskjh dsakj h */


/* 
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.text {
    display: flex;
    align-items: center;
    text-align: center;
    width: 600px;
    height: 300px;
    position: absolute;
    margin: -150px 0 0 -300px;
    top: 50%;
    left: 50%;
}

.text p {
    font-size: 40px;
    padding: 0;
}

.img {
    position: absolute;
    height: 20%;
    width: auto;
    z-index: 1;
}

.img1 {
    top: 25%;
    left: 20%;
    animation: circle1 15s linear infinite;
}

.img2 {
    top: 25%;
    left: 60%;
    animation: circle2 20s linear infinite;
}

.img3,
.img4,
.img5,
.img6,
.img7,
.img8,
.img9,
.img10,
.img11,
.img12 {
    display: none;
} */


/* 
.img2 {
    top: 30%;
    left: 10%;
    animation: circle2 30s linear infinite;
}

.img3 {
    top: 2%;
    left: 30%;
    animation: circle3 40s linear infinite;
}

.img4 {
    top: 7%;
    left: 80%;
    animation: circle4 50s linear infinite;
}

.img5 {
    top: 20%;
    left: 40%;
    animation: circle5 70s linear infinite;
}

.img6 {
    top: 40%;
    left: 20%;
    animation: circle6 30s linear infinite;
}

.img7 {
    top: 8%;
    left: 10%;
    animation: circle7 50s linear infinite;
}

.img8 {
    top: 40%;
    left: 20%;
    animation: circle8 40s linear infinite;
}

.img9 {
    top: 60%;
    left: 60%;
    animation: circle9 50s linear infinite;
}

.img10 {
    top: 80%;
    left: 90%;
    animation: circle10 60s linear infinite;
}

.img11 {
    top: 70%;
    left: 90%;
    animation: circle11 40s linear infinite;
}

.img12 {
    top: 30%;
    left: 60%;
    animation: circle12 50s linear infinite;
} */


/* @keyframes circle1 {
    from {
        transform: rotate(0deg) translate(-30px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translate(-30px) rotate(-360deg);
    }
}

@keyframes circle2 {
    from {
        transform: rotate(360deg) translate(-30px) rotate(-360deg);
    }
    to {
        transform: rotate(0deg) translate(-30px) rotate(0deg);
    }
} */


/* @keyframes circle2 {
    from {
        transform: rotate(360deg) translate(-30px) rotate(-360deg);
    }
    to {
        transform: rotate(0deg) translate(-30px) rotate(0deg);
    }
}

@keyframes circle3 {
    from {
        transform: rotate(360deg) translate(-60px) rotate(-360deg);
    }
    to {
        transform: rotate(0deg) translate(-60px) rotate(0deg);
    }
}

@keyframes circle4 {
    from {
        transform: rotate(360deg) translate(-30px) rotate(-360deg);
    }
    to {
        transform: rotate(0deg) translate(-30px) rotate(0deg);
    }
}

@keyframes circle5 {
    from {
        transform: rotate(360deg) translate(-80px) rotate(-360deg);
    }
    to {
        transform: rotate(0deg) translate(-80px) rotate(0deg);
    }
}

@keyframes circle6 {
    from {
        transform: rotate(-360deg) translate(-30px) rotate(360deg);
    }
    to {
        transform: rotate(0deg) translate(-30px) rotate(0deg);
    }
}

@keyframes circle7 {
    from {
        transform: rotate(-360deg) translate(-50px) rotate(360deg);
    }
    to {
        transform: rotate(0deg) translate(-50px) rotate(0deg);
    }
} */


/* ; */